@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'normalize.css';


:root {
  --color-text: #343a40;
  --color-error: #FA5252FF;
  --color-border: #ced4da;
  --color-theme: #228BE6FF;
  --color-success: #6dd083;

  --color-border-hover: #228be6;

  --border-input: 1px solid #ced4da;

  --radius: 4px;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: var(--color-text);
}

input {
  padding: 8px;
  border-radius: var(--radius);
  border: var(--border-input);
}

/*input:invalid {*/
/*  border-color: var(--color-error);*/
/*  color: var(--color-error);*/
/*}*/

button {
  padding: 8px 18px;
  border-radius: var(--radius);

  border: var(--border-input);
  border-color: var(--color-theme);

  color: var(--color-theme);
  background: #fff;
}

input:focus {
  outline: none;
  border-color: var(--color-border-hover);
}

.wrapper {
  min-height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: var(--radius);

  box-shadow: rgba(0, 0, 0, 0.05) 0 0.0625rem 0.1875rem, rgba(0, 0, 0, 0.1) 0 0.0625rem 0.125rem;
}

.form .success {
  box-shadow: rgba(109, 208, 131, 0.05) 0 0.0625rem 0.1875rem, rgba(109, 208, 131, 0.1) 0 0.0625rem 0.125rem;
}

.success {
 color: var(--color-success);
}



.form__label {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;

  position: relative;
}

.form__label:last-of-type {
  margin-bottom: 50px;
}

.error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.error__message {
  position: absolute;
  bottom: -20px;
  left: 0;

  font-size: 12px;
}

.button {
  width: 100%;
}

.button__disabled {
  cursor: not-allowed;
  opacity: .7;
}